body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Couleur de fond douce */
    margin: 0;
    padding: 0;
    color: #333333;
}

.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7b222e; /* Couleur bordeaux */
    color: white;
    padding: 20px 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-text h1 {
    font-size: 24px;
    margin: 0;
}

.logo img {
    width: 110px;
    height: auto;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}

.logo-container {
    margin-bottom: 40px;
}

.center-logo {
    width: 200px;
    height: auto;
}

.dashboard-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dashboard-button {
    background-color: #7b222e; /* Couleur bordeaux */
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
}

.dashboard-button:hover {
    background-color: #5c1a22; /* Couleur plus foncée */
    transform: translateY(-5px);
}

.dashboard-button:active {
    transform: translateY(0);
}

.dashboard-button:focus {
    outline: none;
}

/* Responsive */
@media (max-width: 768px) {
    .dashboard-button {
        width: 100%;
        max-width: 300px;
    }

    .header-banner {
        flex-direction: column;
        text-align: center;
    }

    .welcome-text h1 {
        font-size: 20px;
    }

    .logo img {
        margin-top: 15px;
        width: 100px;
    }
}

/* Boutons spécifiques en bas à droite */
.footer-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-buttons .dashboard-button {
    background-color: #7b222e; /* Couleur bordeaux */
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.footer-buttons .dashboard-button:hover {
    background-color: #5c1a22; /* Couleur bordeaux plus foncée */
    transform: translateY(-3px);
}

.footer-buttons .dashboard-button:active {
    transform: translateY(0);
}

/* Ajustement responsive pour petits écrans */
@media (max-width: 768px) {
    .footer-buttons {
        bottom: 10px;
        right: 10px;
    }

    .footer-buttons .dashboard-button {
        padding: 10px 15px;
        font-size: 12px;
    }
}
