# Ignorer les fichiers Python compilés
__pycache__/
*.py[cod]

# Ignorer les environnements virtuels
venv/
env/

# Ignorer les journaux
*.log
logs/

# Ignorer les dossiers de fichiers OCR générés
ocr_files/
ocr_service/ocr_files/

# Ignorer les archives générées
*.zip

# Ignorer les fichiers temporaires
*.swp
*.tmp
*.bak

# Ignorer les fichiers de configuration perso
.env
