fastapi
uvicorn[standard]
celery
redis
ocrmypdf
reportlab
pdfminer.six
Pillow
img2pdf
coloredlogs
python-docx
python-multipart
python-dotenv
pydantic
pydantic-settings
typing-extensions
loguru
charset-normalizer
cffi
cryptography
markdown-it-py
mdurl
pi-heif
pikepdf
pluggy
pycparser
pygments
rich
Deprecated
deprecation
wrapt
