fastapi
uvicorn
celery
redis

ocrmypdf
reportlab
pdfminer.six
Pillow
img2pdf
coloredlogs

python-multipart
python-dotenv

pydantic
pydantic-settings
typing-extensions
typing-inspection

loguru

pikepdf
pi-heif
charset-normalizer
cryptography
cffi
pycparser

rich
pygments
markdown-it-py
mdurl

pluggy

python-docx

Deprecated
deprecation

wrapt