[Unit]
# Lance le worker Celery traitant les tâches OCR
Description=Celery Worker for PDFTools OCR
After=network.target redis.service

[Service]
WorkingDirectory=/opt/pdftools/backend
Environment=PYTHONPATH=/opt/pdftools/backend
ExecStart=/opt/pdftools/venv/bin/celery -A worker.tasks worker --loglevel=INFO

Restart=always

# Logs
StandardOutput=append:/opt/pdftools/backend/logs/ocr.log
StandardError=append:/opt/pdftools/backend/logs/ocr.log

[Install]
WantedBy=multi-user.target

