[Unit]
Description=Celery Worker for OCR Service
After=network.target redis-server.service

[Service]
# Dossier de travail du projet
WorkingDirectory=/opt/pdftools

# Lancement du worker Celery lié au module backend.worker.tasks
ExecStart=/usr/bin/celery -A backend.worker.tasks worker --loglevel=info --concurrency=2

# Utilisateur système autorisé à exécuter le worker
User=homeserver
Group=homeserver

# En cas d’échec, relance le worker automatiquement
Restart=on-failure

# Limite mémoire maximale (sécurité)
MemoryMax=800M

[Install]
WantedBy=multi-user.target
